@media (max-width:767px){

   .cp-navbar{
      width: 390px;
      position: relative;
      a{
         text-decoration: none;
         color: black;
         text-transform: uppercase;
         font-size: 16px;
         letter-spacing: 1px;
         font-weight: 500;
         line-height: 32px;
      }
      li{
         list-style: none;
        
      }
   }
   .horizontal-line{
      width: 342px;
      position: absolute;
      left: 24px;
      right:24px;
      border: 1px solid rgba(0, 0, 0, 0.15);
   }
   .cp-navbar-bottom{
      width:390px;
      position: relative;
      a{
         position: absolute;
         top:44px;
         left:70px;
      }
   }
   .cp-navbar-languageToggle{
      position: absolute;
      top:104px;
      left:40px;
      right:274px;
   }
   
}
@media (min-width: 768px) and (max-width: 1400px) {
   
   .cp-navbar{
      width:668px;
      position: relative;
      left: 96px;
      right: 96px;
      ul{
         list-style: none;
         padding-left: 0;
      }
      a{
         text-decoration: none;
         color: black;
         text-transform: uppercase;
         font-size: 16px;
         letter-spacing: 1px;
         font-weight: 500;
         line-height: 32px;
      }
   }
   .horizontal-line{
      width: 668px;
      border: 1px solid rgba(0, 0, 0, 0.15);
   }
   .cp-navbar-bottom{
      width:668px;
      position: relative;
      a{
         position: absolute;
         top:28px;
         left:42px;
      }
   }
   .cp-navbar-languageToggle{
      position: absolute;
      top:88px;
      left:16px;
      right:576px;
   }
   
}

@media (min-width: 1023px) {
     .cp-navbar{
      display: flex;
      justify-content: center;
      ul{
         list-style: none;
         display: flex;
         justify-content: center;
         li{
            margin-right: 30px;
         }
      }
      a{
         text-decoration: none;
         color: black;
      }
      hr{
         display: none;
      }
     }
     .cp-navbar-bottom{
      margin-left: 100px;
      display: flex;
      align-items: center;
      a{
         text-decoration: none;
         color: black;
      }
      .cp-navbar-languageToggle{
          margin-left: 30px;
      }
    
   }

     
}