@mixin alignment {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 767px) {
    .header-container {
        width: 390px;
        height: 64px;
        position: relative;
    }

    .header-icon {
        .icon {
            position: absolute;
            top: 23px;
            bottom: 35px;
            right: 343px;
            left: 27px;
            width: 24px;
            height: 24px;
        }
    }

    .header-image {
        img {
            position: absolute;
            top: 20px;
            bottom: 20px;
            right: 142.56px;
            left: 143px;
            width: 104.44px;
            height: 24px;
        }
    }

    .header-login {
        position: absolute;
        top: 23px;
        bottom: 21px;
        right: 24px;
        left: 313px;
        width: 53px;
        height: 20px;

        a {
            font-style: normal;
            font-weight: 700;
            font-size: 14px;
            line-height: 20px;
            color: #16585B;
            text-decoration: none
        }

    }


    .header-hamburger-hide {
        display: none;
    }

    .header-login-desktop {
        display: none;
    }
}

@media (min-width: 768px) and (max-width: 1400px) {
    .header-container {
        width: 668px;
        height: 64px;
        position: relative;
        left: 80px;
        right: 80px;
    }

    .header-icon {
        position: absolute;
        top: 26px;
        bottom: 26px;
        right: 626px;
        left: 30px;
        width: 24px;
        height: 24px;
    }

    .header-image {
        img {
            position: absolute;
            top: 22px;
            bottom: 22px;
            right: 284.49px;
            left: 286.35px;
            width: 97.17px;
            height: 24px;
        }
    }

    .header-login {
        position: absolute;
        top: 29px;
        bottom: 36px;
        right: 3px;
        left: 620px;
        a {
            font-style: normal;
            font-weight: 700;
            font-size: 14px;
            line-height: 20px;
            color: #16585B;
            text-decoration: none
        }

    }

    .header-hamburger-hide {
        display: none;
    }

    .header-login-desktop {
        display: none;
    }
}

@media (min-width: 1023px) {
    .header-icon {
        display: none;
    }

    .header-image {
        display: flex;
        justify-content: center;

        img {
            width: 250px;
            height: 70px;
        }

    }

    .header-hamburger-hide {
        display: flex;
        justify-content: center;
    }

    .header-login {
        display: none;
    }

    .header-login-desktop {
        @include alignment;
        padding-left: 20px;

        a {
            text-decoration: none;
            color: black;
        }
    }
}