@import '../../../styles/_colors';
@import '../../../styles/mixins';

.helloWorld{
  background-color: pink;
  position: relative;
}

.infinite-scroll {
  height: 100px;
  overflow-y: auto;
  border: 1px solid $black;
}

.person-item-wrapper {
  background: black;
  padding: 20px;
  position: relative;
  height: 300px;
  & > div {
    color: white;
    text-shadow: 0 0 2px black;
  }
  .picture-wrapper {
    position: absolute;
    top: 0;
    width: 100%;
    left: 0;
    img {
      width: 100%;
      object-fit: cover;
    }
    video {
      width: 100%;
      height: auto;
      transform: translateY(50%) translateY(-35px);
    }
  }
  .content-wrapper {
    position: relative;
  }
}