@import '../../../styles/_colors';
@import '../../../styles/mixins';

.helloWorld{
  background-color: pink;
  position: relative;
}

.infinite-scroll {
  height: 100px;
  overflow-y: auto;
  border: 1px solid $black;
}
