@import '../../../styles/_colors';
@import '../../../styles/mixins';

.helloWorld{
  background-color: pink;
  position: relative;
}

.infinite-scroll {
  height: 100px;
  overflow-y: auto;
  border: 1px solid $black;
}

.person-item-wrapper {
  background: pink;
  padding: 20px;
  background-position: center center;
  background-size: cover;
  & > div {
    color: white;
    text-shadow: 0 0 2px black;
  }
}